/* Gloal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 2rem;
  font-weight: 100;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: none;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background: #4c6e97;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.2s ease-in;
}
button:hover {
  background: #30455f;
}
/* nav section with hero */
.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}
nav {
  display: flex;
  min-height: 10vh;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-self: center;
}
#logo {
  flex: 1 1 40rem;
  font-weight: 400;
}

/* hero section */
.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("/img/landing-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position: center; */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

/* locations Section */
#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("/img/new-york-page.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  width: 90%;
  margin: auto;
  /* background-color: teal; */
}
.locations-head h2 {
  padding: 1rem 0rem;
}
.locations-head h3 {
  padding: 4rem, 0rem;
  background: (linear-gradient(#131c27, #663b34));
  background-clip: text;
}
.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 50rem;
}
.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 15%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* benefits section */
.benefits-head {
  background: #30455f;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}
.benefits-head h2 {
  padding: 1rem;
}
.card {
  background: #f5f5f5;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.card img {
  height: 80px;
  padding: 1rem;
  margin: 1.5rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.card-icon {
  background: #30455f;
  text-align: center;
  margin-bottom: 1rem;
}
.card:hover {
  transform: translateY(-30px);
  transition: all 1s ease-out;
}
/* contact section */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("/img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* height: 500px;*/
  width: 500px;
}
.form-head {
  text-align: center;
  color: #f5f5f5;
  padding: 5rem;
}
.name-form,
.email-form {
  text-align: center;
  padding: 2rem;
}
.form-wrapper label {
  padding: 0rem 3rem;
  color: #f5f5f5;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
}
/* footer */
footer {
  color: #f5f5f5;
  background: #131c27;
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h4 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
}
/* media queries */
@media screen and (max-width: 936px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  footer {
    text-align: center;
  }
  footer h4 {
    padding-bottom: 3rem;
  }
}
